<div class="container">
  <form action="/locations/content" method="POST" id="content-form">

      <label for="name">name</label>
      <input type="text" id="name" name="name" />


      <label for="review">review</label>
      <input type="text" id="review" name="review" />

       <label for="image">Upload image</label>
      <input type="text" id="image" name="image" />

        <label for="address">Adress</label>
      <input type="text" id="address" name="address" />


      
      <label for="contentDesc">description</label>
      <input type="text" id="contentDescription" name="contentDescription" />
      <input id="find-content" type="submit" value="content Search" />
    </form>
    </div>