<div class="container">

    <div class="loginSection">
        <h3>Login</h3>
        <form>
            <input type="text" id="userName" placeholder="Username">
            <input type="password" id="userPass" placeholder="Password">
            <input type="submit" value="Login" id="btnLogin">
            <input type="submit" value="Register" id="btnRegister">
        </form>

        <form>
            <h3>Search</h3>
            <input type="text" id="userSearch" placeholder="Location / user">
            <input type="submit" id="btnSearchLocation" value="Search by Location">
            <input type="submit" id="btnSearchUser" value="Search by User">
        </form>
    </div> <!-- END of loginSection -->

    <aside> 
    <h3>History</h3>
    {{#each place}}
    {{name}}
    {{/each}}

    <form>
        <h3>Information</h3>
        <input type="text" id="placeName" placeholder="Location name">
        <input type="text" id="placeContent" placeholder="Content">
        <!-- ***input picture*** -->
        <input type="submit" id="btnSave" value="Save">        
    </form>
    </aside><!-- END of sidbar -->


</div> <!-- END of container -->


