<div class="container">

    <div class="loginSection">
    <h3>Login</h3>
    <form>
        <input type="text" id="userName" placeholder="Username" >
        <input type="password" id="userPass" placeholder="Password">
        <input type="submit" value="Login" id="btnLogin">
        <input type="submit" value="Register" id="btnRegister">
    </form>

    </div> <!-- END of loginSection -->

</div> <!-- END of container -->