<div class="container">


   <form id="content-form ui form">

      <label for="address" class="ui red basic label">Address
      <input type="text" id="address" name="address" /></label>


      <label for="name" class="ui red basic label">Name
      <input type="text" id="name" name="name" /></label>


      <label for="review" class="ui red basic label">Review
      <input type="text" id="review" name="review" /></label>


      <label for="image" class="ui inverted orange label">Upload image
      <input type="file" id="placeImg" class="" name="placeImg"></label>

      <input id="btnSave" name="btnSave" class="ui inverted red button" type="submit" value="Save" />
   </form>

</div> <!-- END of container -->

<div class="ui grid stackable container wrapperMap">

         <div class="column">
            <div id="map"></div>
         </div>

</div>
