<div class="container">
  <form action="/locations" method="POST" id="location-form">

      <label for="locationName">Search Location</label>
      <input type="text" id="locationName" name="locationName" />


      <label for="locationTitle">title</label>
      <input type="text" id="locationTitle" name="locationTitle" />
      
      <label for="locationDesc">description</label>
      <input type="text" id="locationDescription" name="locationDescription" />
      <input id="find-location" type="submit" value="Location Search" />
    </form>
    </div>