<div class="container">

    <div class="wrapperMap">
        <!-- Map -->
    </div>

</div>

<aside>
    <form>
        <h3>Search</h3>
        <input type="text" id="userSearch" placeholder="Location">
        <input type="submit" id="btnSearch" value="Search">
    </form>

    <h3>Reminiscence</h3>
    {{#each place}}
    {{name}}
    {{/each}}

</aside>