<div class="container">

    <div class="signUnSection">
        <h3>Sign Up</h3>
        <form action="/signup" method="POST">
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Password">
            {{!-- <input type="submit" value="Login" id="btnLogin"> --}}
            <input type="submit" value="Register" id="btnRegister">
        </form>

        <p>Already a user? <a href="/login">login</a> here!</p>


     <!-- END of loginSection -->

    </div>

</div> <!-- END of container -->