body {
    margin: 0;
    padding: 0;   
    background: black;
    font-family: 'Bree Serif', serif;
}

.wrapperMap {
    width: 100%;
    height: 70%;    
    position: relative;
}

.container {
    margin-bottom: 2%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;    
    width: 100%;
}

.address {
    font-size: 8px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;

}

.image {
    width: 150px;
}

.gradientBlack {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%, rgba(250,221,228,1) 100%);

}

.wrapperIMG {
    height: 150px;
    width: 100%;
}

.banner {
    width: 100%;
    height: 150px;
}


